/* Style buttons */
.btn {
  background-color: black;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: white;
}

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

pre::selection,
pre *::selection {
    background-color: #EE3A3A;
}

pre::selection,
pre *::-moz-selection {
    background-color: #EE3A3A;
}

blockquote{background: #e7e7e7;border-left:5px solid #EE3A3A;margin: 10px;padding:10px;font-size: 16px;color: #575757;;text-align:left}

pre {
    background: #EE3A3A;
}

.latestPost .thecategory {
    line-height: 1.3;
}
