/* Style buttons */
.btn {
  background-color: #333333;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #7E2419;
}

pre::selection,
pre *::selection {
    background-color: #EE3A3A;
}

pre::selection,
pre *::-moz-selection {
    background-color: #EE3A3A;
}

blockquote{background: #e7e7e7;border-left:5px solid #EE3A3A;margin: 10px;padding:10px;font-size: 16px;color: #575757;;text-align:left}

pre {
    background: #EE3A3A;
}
