/* Style Button by frengky.id */
.btn {
  background-color: #F6F5B2;
  border: 2px solid #EE3A3A;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: white;
}
.btn a {
    color: #EE3A3A;
}  
.btn a:hover {
  color: black;
}

/* Style td,th by frengky.id */
td, th {
    background-color: #F6F5B2;
    text-align: left;
    padding: 8px;
}

pre::selection,
pre *::selection {
    background-color: #EE3A3A;
}

pre::selection,
pre *::-moz-selection {
    background-color: #EE3A3A;
}

blockquote{background: #F6F5B2;border-left:5px solid #EE3A3A;margin: 10px;padding:10px;font-size: 16px;color: #575757;;text-align:left}

pre {
    background: #EE3A3A;
}

.latestPost .thecategory {
    line-height: 1.3;
}
